<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Vendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Análise de Vendas</h1>

        <!-- Tabela de Produtos Cadastrados -->
        <h2 class="my-4">Produtos Vendidos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produtos Vendidos (Quantidade)</th>
                    <th>Lucro Bruto</th>
                    <th>Lucro Líquido</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }} ({{ produto.quantidade }})</td>
                    <td>R$ {{ produto.quantidade * produto.preco }}</td>
                    <td>R$ {{ (produto.preco - produto.custo) * produto.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Exibindo o gráfico gerado automaticamente -->
        <h2 class="my-4">Gráfico de Vendas</h2>
        <img id="graficoVendas" src="/exibir_grafico" alt="Gráfico de Vendas" class="img-fluid"/>

        <!-- Botão para baixar o gráfico em PDF (aparece abaixo do gráfico) -->
        <div class="mt-4">
            <a href="/baixar_grafico" class="btn btn-primary">Baixar Relatório em PDF</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
