<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Vendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Análise de Vendas</h1>

        <!-- Botão para exibir o gráfico na página -->
        <div class="mb-4">
            <button id="gerarRelatorioBtn" class="btn btn-secondary">Exibir Gráfico de Vendas</button>
        </div>

        <!-- Exibindo o gráfico gerado com javascript --> 
        <h2 class="my-4">Gráfico de Vendas</h2>
        <img id="graficoVendas" src="" alt="Gráfico de Vendas" class="img-fluid" style="display:none;"/>

        <!-- Botão para baixar o gráfico em PDF (aparece abaixo do gráfico) -->
        <div class="mt-4" id="baixarBtn" style="display:none;">
            <a href="/baixar_grafico" class="btn btn-primary">Baixar Relatório em PDF</a>
        </div>

        <!-- Tabela de Produtos Cadastrados -->
        <h2 class="my-4">Produtos Vendidos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade Vendida</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        // Função que será executada ao clicar no botão "Exibir Gráfico de Vendas"
        document.getElementById("gerarRelatorioBtn").addEventListener("click", function() {
            var img = document.getElementById("graficoVendas");  // Referência ao elemento <img> que mostra o gráfico
            img.src = "/exibir_grafico";  // Define o src da imagem para carregar o gráfico
            img.style.display = "block";  // Remove o estilo display: none; para mostrar a imagem

            // Exibe o botão de baixar o PDF após o gráfico ser mostrado
            var baixarBtn = document.getElementById("baixarBtn");  // Referência ao botão de baixar
            baixarBtn.style.display = "block";  // Remove o display: none; do botão para mostrar o botão
        });
    </script>
</body>
</html>
