<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <!-- Incluindo o arquivo CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Editar Produto</h1>

        <!-- Formulário para editar o produto -->
        <form action="/editar_produto/{{ produto[0] }}" method="POST">
            <div class="form-group">
                <label for="nome"><i class="fas fa-box"></i> Nome do Produto</label>
                <input type="text" class="form-control" name="nome" value="{{ produto[1] }}" required>
            </div>
            <div class="form-group">
                <label for="preco"><i class="fas fa-dollar-sign"></i> Preço de Venda</label>
                <input type="number" class="form-control" name="preco" value="{{ produto[2] }}" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="estoque"><i class="fas fa-cubes"></i> Estoque</label>
                <input type="number" class="form-control" name="estoque" value="{{ produto[3] }}" required>
            </div>
            <div class="form-group">
                <label for="custo"><i class="fas fa-tags"></i> Custo do Produto</label>
                <input type="number" class="form-control" name="custo" value="{{ produto[4] }}" step="0.01" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
        
        <!-- Botão de Cancelar -->
        <div class="mt-3">
            <a href="/gerenciar_produtos" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
