<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci Minha Senha</title>
    <!-- Incluindo o arquivo CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1 class="login-title">Recuperar Senha</h1>

            <!-- Formulário para inserir o e-mail -->
            <form action="/esqueci_senha" method="POST">
                <div class="form-group">
                    <label for="email"><i class="fas fa-envelope"></i> E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite seu e-mail" required>
                </div>
                
                <button type="submit" class="btn btn-login">Enviar Instruções</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
